@model IEnumerable<DemoMVC.Models.Product>

<h2>Danh sách sản phẩm</h2>

<table border="1">

<tr>
<th>ID</th>
<th>Name</th>
<th>Price</th>
<th>Description</th>
</tr>

@foreach(var item in Model)
{
<tr>
<td>@item.Id</td>
<td>@item.Name</td>
<td>@item.Price</td>
<td>@item.Description</td>
</tr>
}

</table>